@import '../../styles/theme/color';
@import '../../styles/theme/theme.scss';

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.#{$prefix}-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  & .#{$prefix}-select-active_text{
    color:$fontColor-2 !important;
  }
  .#{$prefix}-pagination-list {
    display: flex;
    > li {
      min-width: 32px;
      margin-right: 8px;
      line-height: 30px;
      vertical-align: middle;
      user-select: none;
      cursor: pointer;
      text-align: center;
      overflow: hidden;
      height: 32px;
      width: 32px;
      background: $input-bg;
      color:$fontColor-2;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
      &.pageNum,
      &.#{$prefix}-pagination-prev-arrow,
      &.#{$prefix}-pagination-next-arrow {
        border: 1px solid $input-border;
        border-radius: 6px;
        &:hover,
        &.active {
          border-color: $purple-1;
          color: $purple-1;
        }
        &.#{$prefix}-pagination-disabled{
          cursor: not-allowed;
          //background: $disabled-background;
          //border: 1px solid $disabledBorder;
          color:rgba(134, 145, 163, 0.5);
          background: #F9FAFB;
          box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
          border-radius: 6px;
          border: 1px solid #E9EDF0;
        }
      }
      &.#{$prefix}-pagination-dot {
        color: rgba(0, 0, 0, 0.25);
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        text-align: center;
        text-indent: 0.13em;
        opacity: 1;
        box-shadow:none;
        background: transparent;
        .next-icon,
        .prev-icon {
          width: 32px;
          color: $purple-1;
          @include flex-center();
          display: none;
        }
        //.next-icon {
        //  height: 28px;
        //  //transform: rotate(180deg);
        //}
        //.prev-icon {
        //  height: 38px;
        //}
        &:hover {
          .dot {
            display: none;
          }
          .next-icon,
          .prev-icon {
            display: block;
          }
        }
      }
      .#{$prefix}-pagination-prev-arrow-d {
        @include flex-center();
        height: 28px;
        //transform: rotate(180deg);
      }
      .#{$prefix}-pagination-next-arrow-d {
        @include flex-center();
        height: 30px;
      }
    }
  }
  .#{$prefix}-pagination-options{
    width: 110px;
  }
  .#{$prefix}-pagination-total{
    margin-right: 10px;
    color: $fontColor-2;
    font-size: $font-size-base;
  }
}
