@font-face {
  font-family: "iconfont"; /* Project id 3003804 */
  src: url('iconfont.woff2?t=1639133359011') format('woff2'),
       url('iconfont.woff?t=1639133359011') format('woff'),
       url('iconfont.ttf?t=1639133359011') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Settings:before {
  content: "\e63d";
}

.icon-Return:before {
  content: "\e63e";
}

.icon-Drop-down:before {
  content: "\e635";
}

.icon-Retract:before {
  content: "\e636";
}

.icon-Bell:before {
  content: "\e637";
}

.icon-a-Crosssign:before {
  content: "\e638";
}

.icon-Search:before {
  content: "\e639";
}

.icon-a-GetStarted:before {
  content: "\e63a";
}

.icon-copy:before {
  content: "\e63b";
}

.icon-Apps:before {
  content: "\e63c";
}

