$primary-color: #6554C0; // 主题色

$purple-1: #6554C0; // 主题色

$green-1: #64C8BC; // 辅助色

$red-1: #FF8A8A; // 警告色

$blue-1: #429CFF; // 文字链接色

$white: #fff; // 低色

$fontColor-1: #344563; // 主文字颜色
$fontColor-2: #5E6C84; // 辅文字颜色
$fontColor-3: #5E6C84; // 表单标题文字颜色
$fontColor-4: rgba(134, 145, 163, 0.5); //

$bg-1: #FAFAFB; // 背景色

$mask-1: rgba(23, 23, 37, .6); // 蒙版颜色

$input-label: #8691A3;//input label颜色
$input-placeholder: rgba(52, 69, 99, .5);//input placeholder颜色
$input-border: #E9EDF0;//input 边框颜色
$input-disabled-border: #E9EDF0;//input 边框颜色
$input-disabled-background: #F9FAFB;//input 边框颜色
$input-bg: #FBFDFF; //input 背景颜色
$input-hover-bg: #FAF9FF; //input 背景颜色
$input-hover-bg-err: #FFFBFB; //input 错误背景颜色


$button-secondary-disabled-background: #F9FAFB; //button 二级按钮禁用背景颜色

// background color
$white-background: #fff;
$block-background: #FEFFFF;
$disabled-background:rgba(10, 47, 74, 0.09);
// hover bg
$hover-bg-1: #F6F7F9;
$hover-bg-2: rgba(246, 247, 249, 0.49);

//border color
$border: #DFE3E8;
$disabledBorder: rgba(10, 47, 74, 0.09);
//empty color
$empty: #E9EDF0


