$purple-1: #6554C0;

$green-1: #64C8BC;

$red-1: #FF8A8A;

$blue-1: #429CFF;

$white: #fff;

$fontColor-1: #344563; // 主文字颜色
$fontColor-2: #5E6C84; // 辅文字颜色
$fontColor-3: #5E6C84; // 表单标题文字颜色

$bg-1: #FAFAFB; // 背景色

$mask-1: rgba(23, 23, 37, .6); // 蒙版颜色




