@import './color.scss';

$font-size-base: 14px;
$border-radius-base: 2px;

// vertical paddings
$padding-xs: 8px;

// background color
$white-background: #fff;

// Shadow
$layout-header-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.04);
$layout-sider-shadow: 1px 0px 25px 0px rgba(0, 0, 0, 0.04);
$menu-hover-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);

// border radius
$radius-1: 6px;

// Layout
$layout-body-background: $bg-1;
$layout-header-height: 64px;
$layout-header-padding: 0 50px;
$layout-header-color: $fontColor-1;
$layout-header-background: #FEFFFF;
$layout-footer-padding: 24px 50px;
$layout-footer-color: $fontColor-1;
$layout-footer-background: $bg-1;

$layout-sider-background: $layout-header-background;
$layout-trigger-height: 48px;
$layout-trigger-color: $white-background;
$layout-trigger-background: #002140;
$layout-zero-trigger-width: 36px;
$layout-zero-trigger-height: 42px;

// Breadcrumb
// ---
$breadcrumb-base-color: $fontColor-2;
$breadcrumb-last-item-color: $fontColor-1;
$breadcrumb-font-size: $font-size-base;
$breadcrumb-icon-font-size: $font-size-base;
$breadcrumb-link-color: $fontColor-2;
$breadcrumb-link-color-hover: $purple-1;
$breadcrumb-separator-color: $fontColor-2;
$breadcrumb-separator-margin: 0 $padding-xs;

// Menu
// ---
$menu-item-color: $fontColor-1;
$menu-item-font-size: $font-size-base;
$menu-bg: $white-background;
$menu-popup-bg: $white-background;
$menu-item-height: 50px;
$menu-item-no-first-height: 36px;
$menu-item-color-hover: $purple-1;
$menu-item-bg-hover: #F6F7F9;
$menu-item-radius: $radius-1;

