@import '../../styles/theme/theme.scss';

.fpp-menu{
  width: 100%;
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  color: $menu-item-color;
  font-size: $menu-item-font-size;
  line-height: 0; // Fix display inline-block gap
  text-align: left;
  list-style: none;
  background: $menu-bg;
  outline: none;
  
  // extend
  @mixin hoverStyle {
    color: $menu-item-color-hover;
  }
  
  &.fpp-menu-collapsed {
    width: 80px;
  }
  .fpp-menu-item,.fpp-submenu {
    padding: 0 15px;
    cursor: pointer;
    .fpp-menu-item-container, .fpp-submenu-container, .fpp-submenu-title-container {
      display: flex;
      align-items: center;
      position: relative;
    }
    .fpp-menu-item-container, .fpp-submenu-title-container {
      padding-left: 17px;
      width: 100%;
      height: $menu-item-no-first-height;
      border-radius: $menu-item-radius;
      transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
      .fpp-menu-item-title-content, .fpp-submenu-title-content{
        display: block;
        margin-left: 10px;
        height: $menu-item-no-first-height;
        line-height: $menu-item-no-first-height;
      }
    }
  }
  .fpp-submenu{
    .fpp-submenu-container {
      height: $menu-item-height;
    }
    &:hover {
      .fpp-submenu-title-content,svg{
        @include hoverStyle;
      }
    }
    .drop-down{
      position: absolute;
      top: 35%;
      right: 16px;
      transition: transform 0.3s;
    }
    &.fpp-submenu-open {
      .drop-down {
        transform: rotate(180deg);
      }
    }
    &.fpp-submenu-light {
      .fpp-submenu-title-content,svg{
        @include hoverStyle;
      }
    }
    .fpp-submenu-list{
      transition: background $animation-duration-slow $ease-in-out,
      padding $animation-duration-slow $ease-in-out,
      height $animation-duration-slow $ease-in-out;
      overflow: hidden;
    }
    .fpp-submenu-hidden {
      // display: none;
      height: 0;
      
    }
  }
  .fpp-menu-item{
    display: flex;
    align-items: center;
    height: $menu-item-height;
    &.fpp-menu-item-no-first{
      height: $menu-item-no-first-height;
    }

    &:hover {
      .fpp-menu-item-title-content,svg{
        @include hoverStyle;
      }
    }
    &.fpp-menu-item-select{
      .fpp-menu-item-container{
        background: $menu-item-bg-hover;
        box-shadow: $menu-hover-shadow;
      }
      .fpp-menu-item-title-content,svg{
        @include hoverStyle;
      }
    }
  }
}