@import '../../styles/theme/color';
@import '../../styles/theme/theme.scss';
.#{$prefix}-select-container {
  position: relative;
  .#{$prefix}-select-label {
    font-size: $font-size-base;
    font-weight: 500;
    color: $input-label;
    margin-bottom:10px;
  }
  .#{$prefix}-select-wrapper {
    position: relative;
    height:36px;
    //transition: all 3s;
    transition: height $animation-duration-slow $ease-in-out;
    border-radius: 6px;
    background-color: $input-bg;
    cursor: text;
    box-shadow: inset 0px 2px 3px 0px rgba(101, 84, 192, 0.04);
    &.#{$prefix}-select-cursorPointer{
      cursor: pointer;
    }
    .#{$prefix}-select-form-placeholder {
      z-index: 100;
      color: $input-placeholder;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      line-height:36px;
      padding-left: 14px;
      font-size: $font-size-base;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      &.#{$prefix}-select-pc_shrink {
        display: none;
        //line-height: 12px;
        //font-size: 12px;
        //margin-top: 8px;
      }
    }
    .#{$prefix}-select-active_text{
      height:36px;
      text-overflow: ellipsis;
      padding: 8px 25px 8px 14px;
      box-sizing: border-box;
      margin: 0;
      font-variant: tabular-nums;
      list-style: none;
      font-feature-settings: 'tnum';
      position: relative;
      width: 85%;
      min-width: 0;
      color: #344563;
      line-height: 1.5715;
      background-color: transparent;
      background-image: none;
      border: 1px solid #E9EDF0;
      border-radius: 6px;
      transition: all 0.3s;
      font-size: $font-size-base;
      font-family: Rubik-Regular, Rubik;
      font-weight: 400;
      outline: none;
      overflow: hidden;
      white-space: nowrap;// 控制不换行
      text-overflow: ellipsis;// 控制省略部分以...结束
    }
    .#{$prefix}-select-input {
      height:36px;
      text-overflow: ellipsis;
      padding: 8px 25px 8px 14px;
      box-sizing: border-box;
      margin: 0;
      font-variant: tabular-nums;
      list-style: none;
      font-feature-settings: 'tnum';
      position: relative;
      width: 100%;
      min-width: 0;
      color: #344563;
      line-height: 1.5715;
      background-color: transparent;
      background-image: none;
      border: 1px solid #E9EDF0;
      border-radius: 6px;
      transition: all 0.3s;
      font-size: $font-size-base;
      font-family: Rubik-Regular, Rubik;
      font-weight: 400;
      outline: none;
      &::placeholder {
        color: $input-placeholder;
      }
      &:hover,
      &:focus,
      &:focus-visible{
        background: $input-hover-bg;
        border-color: $purple-1;
        border-right-width: 1px !important;
        outline: 0;
      }
      &.#{$prefix}-select-nosearch {
        color: transparent;
        cursor: pointer;
      }
    }
    .#{$prefix}-select-clear{
      position: absolute;
      right: 24px;
      top: 50%;
      margin-top: -9px;
      width: 18px;
      height: 18px;
      overflow: hidden;
      display: flex;
      align-items: center;
      color: $fontColor-1;
      font-size: $font-size-sm;
      padding: 4px 0px 4px 6px;
      z-index: 9999;
      cursor: pointer;
      color: rgba(134, 145, 163, 0.49);
      //display: none;
      &:hover+.#{$prefix}-select-input{
        border-color: $purple-1;
      }
      &:hover{
        color: $fontColor-4;
      }
    }
    .#{$prefix}-select-jiantou {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -9px;
      width: 18px;
      height: 18px;
      overflow: hidden;
      display: flex;
      color: $fontColor-1;
      font-size: $font-size-sm;
      padding: 4px 0px 4px 6px;
      z-index: 9999;
      cursor: pointer;
    }
    .#{$prefix}-select-active_text {
      position: absolute;
      z-index: 100;
      top: 0px;
      left: 0;
      border: 1px solid transparent;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      display: flex;
      align-items: center;
      font-family: Rubik-Regular, Rubik;
      font-weight: 400;
      &.shade {
        color: $input-placeholder;
        z-index: 99;
      }
    }
  }
  .#{$prefix}-select-hide_placeholder{
    display: none !important;
  }
  .#{$prefix}-select-option_content{
    width: 100%;
    position: absolute;
    z-index: 99999;
    margin-top: 4px;
    box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    border: 1px solid #E9EDF0;
    background: #FEFFFF;
    padding: 8px;
    .#{$prefix}-select-option_list {
      width: 100%;
      outline: none;
      max-height: 256px;
      overflow-y: auto;
      .#{$prefix}-select-option_item {
        min-height: 36px;
        padding: 0px 10px;
        color: $fontColor-2;
        font-weight: 400;
        font-size: $font-size-base;
        line-height: 36px;
        width: 100%;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;// 控制不换行
        text-overflow: ellipsis;// 控制省略部分以...结束
        font-family: Rubik-Regular, Rubik;
        font-weight: 400;
        &:hover,
        &.active{
          box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
          border-radius: 6px;
          background-color: $hover-bg-1;
          color: $purple-1;
          font-family: Rubik-Medium, Rubik;
          font-weight: 500;
        }
      }
      .#{$prefix}-select-kong_wrapper {
        color: #E0E6EF;
        text-align: center;
        padding: 16px;
        font-size: 40px;
        .#{$prefix}-select-kong {
          //font-size: 30px;
          margin: 14px 0;
        }
      }
    }
  }

  // 禁用 只读样式
  & .disabled {
    &.#{$prefix}-select-wrapper {
      border: none;
      background: $input-disabled-background;
      box-shadow: none;
      color: $fontColor-4;
      &:hover,
      &:focus{
        border: none;
        background: $input-disabled-background;
        box-shadow: none;
        color: $fontColor-4;
      }
      .#{$prefix}-select-input,
      .#{$prefix}-select-active_text {
        cursor: default;
        color: $fontColor-4;
        &:hover,
        &:focus,
        &:focus-visible{
          background: $input-disabled-background;
          box-shadow: none;
          border: 1px solid $input-border;
          color: $fontColor-4;
          outline: 0;
        }
      }
    }
  }
}
