@import '../../styles/theme/theme.scss';

.#{$prefix}-header{
  background: $header-bg;
  box-shadow: $header-border-shadow;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $header-padding;
  .#{$prefix}-header-left {
    display: flex;
  }
  .#{$prefix}-header-logo {
    height: 38px;
  }
  .#{$prefix}-header-search {
    width: 250px;
  }
}