@import "../../styles/theme/color";
@import "../../styles/theme/theme.scss";

.#{$prefix}-input-body {
  width: 100%;

  .is-hide {
    display: none !important;
  }

  .#{$prefix}-input-label {
    font-size: $font-size-base;
    font-weight: 500;
    color: $input-label;
    margin-bottom: 10px;
  }

  .error-text {
    margin-top: 4px;
    color: $red-1;
    font-size: $font-size-sm;
  }

  .#{$prefix}-input {
    height: 36px;

    &.mini {
      height: 46px;

      input {
        height: 44px;
        line-height: 40px;
      }
    }

    &.supermini {
      height: 40px;

      input {
        height: 40px;
        line-height: 40px;
      }
    }
  }

  .#{$prefix}-input,
  .#{$prefix}-textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    display: flex;

    input,
    textarea {
      color: $fontColor-1;
      box-sizing: border-box;
      margin: 0;
      font-variant: tabular-nums;
      list-style: none;
      font-feature-settings: "tnum";
      position: relative;
      display: inline-block;
      width: 100%;
      min-width: 0;
      font-size: $font-size-base;
      line-height: 1.5715;
      background-color: transparent;
      background-image: none;
      border-radius: 2px;
      transition: all 0.3s;
      padding: 0;
      border: none;
      outline: none;
      font-family: Rubik-Regular, Rubik !important;
      font-weight: 400;
      &::placeholder {
        color: $input-placeholder;
      }

      //&::-ms-clear {
      //  display: none;
      //}
    }

    .#{$prefix}-textarea-affix-wrapper {
      min-height: 100px;
      //resize: vertical;
      resize: none;
      padding: 8px 13px;
      background: $input-bg;
      box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
      border-radius: 6px;
      border: 1px solid $input-border;

      &:hover,
      &:focus-within {
        background: $input-hover-bg;
        border-color: $purple-1;
      }
    }

    .#{$prefix}-input-wrapper {
      width: 100%;
      .#{$prefix}-input-affix-wrapper {
        width: 100%;
        height: 36px;
        line-height: 17px;
        background: $input-bg;
        border: 1px solid $input-border;
        color: $fontColor-1;
        box-shadow: inset 0px 2px 3px 0px rgba(101, 84, 192, 0.04);
        border-radius: 6px;
        position: relative;
        min-width: 0;
        padding: 8px 13px;
        font-size: $font-size-base;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        input:-webkit-autofill { box-shadow: 0 0 0px 1000px $input-bg inset !important;}
        &:hover,
        &:focus-within {
          background: $input-hover-bg;
          border-color: $purple-1;
          input:-webkit-autofill { box-shadow: 0 0 0px 1000px $input-hover-bg inset !important;}
        }

        .#{$prefix}-input-prefix {
          cursor: pointer;
          margin-right: 10px;
          display: flex;
          flex: none;
          align-items: center;
        }

        .#{$prefix}-input-suffix {
          cursor: pointer;
          margin-left: 5px;
          display: flex;
          flex: none;
          align-items: center;
        }
      }

      .#{$prefix}-input-all-icon {
        position: relative;
        display: flex;
        align-items: center;
        flex: none;
      }

      .#{$prefix}-input-clear {
        width: 18px;
        height: 18px;
        overflow: hidden;
        display: flex;
        align-items: center;
        color: $fontColor-1;
        font-size: $font-size-sm;
        padding: 4px 0px 4px 6px;
        z-index: 9999;
        cursor: pointer;
        color: rgba(134, 145, 163, 0.49);

        &:hover {
          color: $fontColor-4;
        }
      }

      .#{$prefix}-input-verification-code {
        font-size: $font-size-base;
        color: $fontColor-4;
        margin-left: 5px;
        cursor: pointer;
        border-left: 1px solid $input-border;
        padding-left: 23px;
        &.#{$prefix}-input-verification-disabled{
          cursor: not-allowed;
        }
        & .#{$prefix}-input-loading-icon{
          margin-right: 10px;
          animation: loading 1s infinite linear;
        }
      }
    }

    .#{$prefix}-input-group {
      display: flex;
      align-items: center;
      justify-content: center;

      .#{$prefix}-input-affix-wrapper {
        border-radius: 6px 0 0 6px;

        &:hover,
        &:focus-within {
          z-index: 9;
        }
      }

      .#{$prefix}-input-group-addon {
        width: 36px;
        height: 36px;
        position: relative;
        left: -1px;
        color: #5e6c84;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $input-bg;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.04);
        border-radius: 0px 6px 6px 0px;
        border: 1px solid $input-border;
        cursor: pointer;

        &:hover,
        &:focus-within {
          z-index: 9;
          color: $purple-1;
          background: $input-hover-bg;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.04);
          border-radius: 0px 6px 6px 0px;
          border: 1px solid $purple-1;
        }
      }
    }

    // 错误提示
    &.error {
      .#{$prefix}-input-affix-wrapper,
      .#{$prefix}-textarea-affix-wrapper
      {
        background: $input-hover-bg-err;
        border: 1px solid $red-1;

        &:hover,
        &:focus-within {
          background: $input-hover-bg-err;
          border: 1px solid $red-1;
        }

        //&:focus-within {
        //  border-color: #f44e4e;
        //  box-shadow: 0 0 0 2px #f44e4e !important;
        //  border-right-width: 1px !important;
        //  outline: 0;
        //  box-shadow: 0 0 0 2px rgba(244, 78, 78, 0.2);
        //}
      }
    }

    // 禁用 只读样式
    &.disabled {
      input,
      textarea {
        color: $fontColor-4;
        &::placeholder {
          color: $fontColor-4;
        }
      }
      .#{$prefix}-input-affix-wrapper,
      .#{$prefix}-textarea-affix-wrapper{
        background: $input-disabled-background;
        box-shadow: none;
        border: 1px solid $input-border;
        color: $fontColor-4;
        &:hover,
        &:focus{
          background: $input-disabled-background;
          box-shadow: none;
          border: 1px solid $input-border;
          color: $fontColor-4;
        }

        input,
        textarea {
          //cursor: not-allowed;
        }
      }
    }
  }
}
