@import '../../styles/theme/color';
@import '../../styles/theme/theme.scss';

.#{$prefix}-button {
  font-weight: 500;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  //box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-size: 14px;
  &.#{$prefix}-button--primary {
    color: white;
    background: $purple-1;
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.1);
    &.#{$prefix}-button--danger-primary{
      background:$red-1 !important;
    }
    &:not(.#{$prefix}-button--disabled):hover{
      opacity: 0.89;
    }
    &.#{$prefix}-button--disabled {
      opacity: 0.8;
      cursor: not-allowed;
    }
    &.#{$prefix}-button--loading {

    }
  }
}

.#{$prefix}-button--secondary {
  background: #FBFDFF;
  color: #5E6C84;
  border-radius: 6px;
  border: 1px solid #E9EDF0;
  &.#{$prefix}-button--danger-secondary{
    border: 1px solid $red-1  !important;
    color: $red-1  !important;
  }
  &:not(.#{$prefix}-button--disabled):hover{
    background: #FAF9FF;
    opacity: 0.89;
    border: 1px solid $purple-1;
    color: $purple-1;
  }
  &.#{$prefix}-button--disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}
.#{$prefix}-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.#{$prefix}-button--medium {
  font-size: 14px;
  padding: 8px 20px;
}
.#{$prefix}-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
.#{$prefix}-button-text{
  display: flex;
  justify-content: center;
  align-items: center;
  .#{$prefix}-button--icon{
    margin-right: 10px;
  }
  .#{$prefix}-button--loading-icon{
    animation: loading 1s infinite linear;
  }
  .#{$prefix}-button--label{

  }
}